/* Home */
.about {
  height: 100vh;
  background-size: cover;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgb(0, 0, 0, 0.7)),
    url(../assets/background.jpg);
}

/* Quem somos? */
.whoIs {
  display: flex;
  padding: 2rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.whoIs .image {
  height: 20rem;
  border-radius: 50%;
  align-self: center;
  box-shadow: 0 0 4rem #000000;
}

.whoIs .textArea {
  padding-left: 2rem;
  padding-right: 2rem;
}

.whoIs .textArea .text {
  padding: 2rem;
  padding-bottom: 1rem;
}

.whoIs .textArea .text p {
  padding-top: 1rem;
  text-align: justify;
}

.whoIs .founders {
  display: flex;
  justify-content: space-evenly;
}

/* Nosso Portfólio */
.assets {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.4),
      rgba(255, 255, 255, 0.5)
    ),
    url(../assets/background-assets.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #fdfcfa;
  color: #181a1e;
}

.assets .description {
  background-color: rgba(0, 0, 0, 0.8);
  color: #fdfcfa;
}

.assets .description p {
  font-size: 1.25rem;
  padding: 2rem;
}

.assets h1 {
  text-align: left;
  padding: 2.5rem;
  padding-bottom: 0;
  font-size: 2.5rem;
}

.assets .cards {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  justify-content: space-evenly;
  height: 100%;
  justify-content: center;
  align-items: center;
}

/* Rodapé de Contato */
footer {
  min-height: 30vh;
}

footer p {
  font-size: 1.75rem;
  padding: 1.5rem;
}

footer .contact {
  display: flex;
  justify-content: space-evenly;
  height: 100%;
}

footer .contact .cellphones,
footer .contact .socialMedias {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 2rem;
}

footer .contact .item {
  display: flex;
  align-items: center;
}

footer .contact .item p {
  font-size: 1.25rem;
}

footer .copyright {
  font-size: 1rem;
  text-align: right;
  padding-top: 4rem;
}

@media (max-width: 768px) {
  .whoIs .image {
    display: none;
  }

  footer .contact {
    flex-direction: column;
  }

  footer .contact .socialMedias,
  footer .contact .cellphones {
    width: 100%;
  }
}
