.container {
  height: 10vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 80%;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0 0 4rem #000000;
}
